/* Master Styles */
@import 'variables';

.header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 3.5em;
	border-bottom: 1px solid black;
	background-color: #d9d9d9;

	&.expand {
		height: 7em;
	}

	.headerWrapper{
		width: 70em;
		margin: auto;

		.title {
		  position: relative;
		  margin: 0;
		  top: .05em;
		  left: .2em;
		  color: $blue;
		  font-family: Arial, Helvetica, sans-serif;
		  font-size: 250%;
		}
		.search {
			position: relative;
			top: -1.5em;
			left: 12em;
			height: 1.3em;
			width: 20em;
			font-size: 1.5em;
			background-color: $off-white;
			border-radius: .4em;
			padding-left: .1em;

			&:focus {
				outline: none;
			}
		}

		.advSearch{
			display: inline-block;
			position: relative;
			top: -2.5em;
			left:20em;
		}

		.gear {
			position: absolute;
			top: .3em;
			right: .2em;
			color: $blue;
			cursor: pointer;

			&:hover {
				color: black;
			}
		}


		.settings {
			position: absolute;
			right: .2em;
			top: 3em;
			width: 7em;
			height: 4em;
			background-color: #d9d9d9;
			z-index: 999;

			a {
				display: block;
				font-size: 1.5em;
				text-align: center;
			}
		}
	}
}

a {
	text-decoration:none; 
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
